/*主题配色等*/
.mainHeader  ul.headerMenu{
    background-color: #dd4b39;
}

/*easyui linkbutton 按钮字体图标*/
.l-btn-icon.iconfont{
    color:#dd4b39;
}

/*树形菜单*/
.tree-icon.iconfont{
    color: #dd4b39;
}

/* main.ftl 中 tab */
#tabGroup .iconfont{
    color:#dd4b39;
}


/*主体按钮样式*/
.pure-button-primary{
      background-color: #dd4b39 !important;
}

a:hover{
    color:#dd4b39;
}

/*input focus*/
.pure-form input:not([type]):focus, .pure-form input[type=password]:focus, .pure-form input[type=email]:focus, .pure-form input[type=url]:focus, .pure-form input[type=date]:focus, .pure-form input[type=month]:focus, .pure-form input[type=time]:focus, .pure-form input[type=datetime]:focus, .pure-form input[type=datetime-local]:focus, .pure-form input[type=week]:focus, .pure-form input[type=tel]:focus, .pure-form input[type=color]:focus, .pure-form input[type=number]:focus, .pure-form input[type=search]:focus, .pure-form input[type=text]:focus, .pure-form select:focus, .pure-form textarea:focus {
    border-color: #dd4b39 !important;
}

.pure-form input[type=file]:focus, .pure-form input[type=checkbox]:focus, .pure-form input[type=radio]:focus {
    outline: #dd4b39 auto 1px !important;
}


/*layer 弹窗*/
.layui-layer-lan .layui-layer-title {
    background: #dd4b39 !important;
}

.layui-layer-lan .layui-layer-btn0 {
    background: #dd4b39 !important;
}



/*easyui */
.accordion .accordion-header-selected .panel-title {
    color: #dd4b39 !important;
}
.l-btn-selected,
.l-btn-selected:hover {
    background: #dd4b39  !important;
}
.l-btn-plain-selected,
.l-btn-plain-selected:hover {
    background: #dd4b39  !important;
}

.combobox-item-selected {
    color: #dd4b39  !important;
}

.tabs-header .tabs-pill li.tabs-selected a.tabs-inner {
    color: #dd4b39  !important;
}
.datagrid-row-selected {
    color: #dd4b39  !important;
}

.progressbar-value,
.progressbar-value .progressbar-text {
    color: #dd4b39  !important;
}
.switchbutton-on {
    color: #dd4b39  !important;
}
.tree-node-selected {
    color: #dd4b39  !important;
}
.radiobutton {
    border: 2px solid #dd4b39  !important;
}
.radiobutton-inner {
    background: #dd4b39  !important;
}

.checkbox {
    border: 2px solid #dd4b39  !important;
}
.checkbox-checked {
    background: #dd4b39  !important;
}
.sidemenu .tree-node-selected {
    border-right: 2px solid #dd4b39  !important;
    color: #dd4b39  !important;
}
.textbox-focused {
    border-color: #dd4b39  !important;
    border-top-color: transparent  !important;
    border-left-color: transparent  !important;
    border-right-color: transparent  !important;
    -moz-box-shadow: 0 0 3px 0 transparent  !important;
    -webkit-box-shadow: 0 0 3px 0 transparent  !important;
    box-shadow: 0 0 3px 0 transparent  !important;
}
.datagrid-row-selected .datagrid-cell-rownumber {
    color: #dd4b39  !important;
}
.tree-node-selected {
    border-left: 2px solid #dd4b39  !important;
}
.calendar-selected {
    background: #dd4b39  !important;
    color: #fff  !important;
    border-color: transparent  !important;
}
.calendar-today {
    color: #dd4b39 ;
}
.tabs li.tabs-selected a.tabs-inner {
    color: #dd4b39  !important;
    border-bottom: 2px solid #dd4b39  !important;
}
.tabs-header-bottom .tabs li.tabs-selected a.tabs-inner {
    border-top: 2px solid #dd4b39  !important;
}
.tabs-header-left .tabs li.tabs-selected a.tabs-inner {
    border-right: 2px solid #dd4b39  !important;
}
.tabs-header-right .tabs li.tabs-selected a.tabs-inner {
    border-left: 2px solid #dd4b39  !important;
}
.slider-handle {
    background: #dd4b39  !important;
}
.menu-active {
    color: #dd4b39  !important;
}