/*主题配色等*/

/*导航栏*/
.mainHeader  ul.headerMenu{
    background-color: #447eff;
}
.mainHeader  ul.headerMenu li a.active {
    background-color: #3178cb;
}


/*easyui linkbutton 按钮字体图标*/
.l-btn-icon.iconfont{
    color: #447eff;
}

/*树形菜单*/
.tree-icon.iconfont{
    color: #447eff;
}

/* main.ftl 中 tab */
#tabGroup .iconfont{
    color:#447eff;
}


/*主体按钮样式*/
.pure-button-primary{
    background-color: #447eff !important;
}


/*链接颜色设置*/
a{
    color:#333;
}
a:hover{
    color:#CC3300;
}